@media (min-width: 700px) {
  * {
    font-size: 15px;
  }
  .nav-bar {
    display: flex !important;
    justify-content: space-between !important;
  }
  .nav-links {
    /* border: 1px solid purple; */
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .logo {
    /* border: 1px solid red; */
    width: 145px !important;
    height: 60px !important;
    cursor: pointer;
  }

  .menu {
    display: none !important ;
  }

  .showcase {
    height: calc(80vh - var(--nav-height)) !important;
  }

  .content-box-container {
    grid-template-columns: 1.3fr 1.5fr !important;
  }
  .mission-box-img {
    display: block !important;
  }
  .our-mission-content-box h2::after {
    display: flex !important;
  }
  .the-pledge {
    background-color: transparent !important;
  }
  .the-pledge-background {
    display: block !important;
  }
  .what-we-do-box-container {
    display: flex !important;
    flex-flow: column !important;
  }
  .what-we-do-showcase {
    grid-template-columns: 1fr 1fr 1fr !important;
    column-gap: 2rem;
  }
  .showcase-1 {
    grid-column: 1;
    height: 100%;
  }
  .join-us-box-container {
    /* border: 1px solid purple; */
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .join-us-form {
    /* border: 1px solid yellow; */
    width: 80% !important;
    display: grid;
    grid-template-columns: 30% 70%;
  }
  .join-us-form h2 {
    grid-column: 1;
    height: 150px;
    grid-row: 1 / span 2;
    align-self: center;
  }
  .input-style {
    /* border: 1px solid red; */
    grid-column: 2;
  }
  .main-button {
    grid-column: 2;
    align-self: center;
  }

  .news-box-container {
    display: flex !important;
    flex-flow: column;
  }
  .news-container {
    display: flex !important;
    flex-flow: wrap;
    justify-content: space-between;
  }
  .news {
    width: 30%;
  }
  .page-grid-container {
    grid-template-columns: 1.5fr 1fr !important;
  }
  .about-page-img {
    display: flex !important;
  }
  .footer-box-container {
    /* border: 1px solid red; */
    padding: 0;
    display: flex !important;
    justify-content: center;
  }
  .footer-container {
    /* border: 1px solid blue !important; */
    width: 100% !important;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4rem;
  }

  .copy-right {
    grid-column: 1 / span 3;
  }

  .circles {
    display: flex !important;
  }
}

@media (min-width: 800px) {
  body {
    --div-width: 97%;
    /* --div-padding: 10rem 0rem; */
  }
  * {
    font-size: 15px;
  }
}

@media (min-width: 900px) {
  body {
    --div-width: 80%;
  }
  .our-mission .content-box-container {
    height: 90% !important;
  }
}

@media (min-width: 950px) {
  .showcase {
    background: transparent !important;
  }
  .showcase-box-container {
    /* border: 1px solid red; */
    position: absolute;
    width: var(--div-width);
    margin: var(--div-margin);
    display: flex;
    justify-content: flex-start;
  }
  .showcase-img {
    display: block !important;
    position: absolute !important;
    top: -4rem !important;
    right: -4rem !important;
    left: auto !important;
    width: 60% !important;
    height: 140% !important;
    box-shadow: 10px 10px 30px rgba(32, 32, 32, 0.418);
    max-height: 600px;
  }
  .showcase-img::before {
    position: absolute !important;
    content: " ";
    width: 70%;
    height: 80%;
    background-color: var(--main-color);
    top: 25%;
    right: -3rem;
    z-index: -1;
  }
  .showcase-img::after {
    position: absolute !important;
    content: " ";
    width: 30%;
    height: 30%;
    background-color: var(--yellow-color);
    top: -5%;
    left: -2rem;
    z-index: -1;
  }
  .showcase-content-box {
    text-align: left !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: transparent !important;
    width: 50% !important;
    max-width: 389px !important;
  }
  h1 {
    color: var(--dark-text-color) !important;
  }
  h1::before {
    position: absolute;
    content: "";
    width: 3rem;
    left: 0 !important;
    margin: 0 !important;
    border-bottom: 6px solid var(--yellow-color);
  }

  .showcase-content-box p {
    color: var(--light-text-color) !important;
  }
}

@media (min-width: 1191px) {
  body {
    --div-width: 1000px;
  }
  .our-mission .content-box-container {
    height: 90% !important;
  }
}

@media (min-width: 1500px) {
  * {
    font-size: 16px;
  }

  .nav-links {
    display: flex !important;
    justify-content: center;
    align-items: center;
    place-self: center;
  }
  /* .nav-links li {
    margin: 0rem 2rem;
  } */
  .menu {
    display: none !important ;
  }
}
