.title-section{
    width: 100%;
    margin: auto;
    max-width: 551px;
}
.title-top-container{
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 60px;
}
.transparent-text{
    color: var(--transparant-blue);
    font-size: 4rem;
    font-weight: bold;
    height: min-content;
}
.mini-text{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: var(--main-color);
    width: min-content;
    height: 30px;
    display: flex;
    align-items: center;
}
.title-bottom-container{
    position: relative;
    text-align: center;
}

.title-bottom-container h2{
    margin-bottom: .5rem;
}

.title-content{
    position: relative;
    margin-bottom: 5rem;
}

.title-content::after{
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  right: 0;
  margin: 0rem auto;
  content: '';
  width: 3rem;
  border-bottom: 5px solid var(--yellow-color);
}