.footer{
    background: var(--dark-color) ;
}
.section{
    margin-bottom: 2rem;
}
.section h3{
    color: rgba(255, 255, 255, 0.733);
}
.section p{
    color: white;
}

.section ul li{
    color: white;
}

.copy-right{
    border-top: 1px solid rgba(255, 255, 255, 0.281);
    padding: 2rem 1rem;
    text-align: center;
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.575);
}

.social-media-list{
   display: flex;
}

.social-media-list li i{
    font-size: 1.5rem;
    margin-right: 1rem;
    transition: color .3s ease-in-out;
    cursor: pointer;
}

.social-media-list li i:hover{
    color: rgba(255, 255, 255, 0.568);
}