.our-mission{

    height: var(--div-height);
    max-height: 600px;
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 0 !important;

}

.content-box-container{
    position: relative;
    display: grid;
    grid-template-columns: 1fr ;
    /* border: 2px solid purple; */
    column-gap: 3rem;
    height: 90%;
}

.mission-box-img{
    display: none;
    position: relative;
    background: url(../../images/team.jpg) no-repeat center center/cover;
    width: 85%;
    max-width: 347px;
    height: 100%;
    max-height: 350px;
    box-shadow: -5px 2px 29px rgba(7, 7, 7, 0.185);
    /* height: 300px; */
}

.mission-box-img::before{
    content: '';
    position: absolute;
    top: 5rem;
    right: 3rem;
    background-color: transparent;
    border: 8px solid var(--main-color);
    width: 90%;
    height: 80%;
    margin: 0rem auto;
    z-index: -1;
}

.content-box{
    /* border: 1px solid red; */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}
.circles.circles-for-mision{
    left: -150px;
    bottom: -90px;
}

.our-mission-content-box h2{
    /* border: 1px solid red; */
    width: 100%;
    position: relative;
}

.our-mission-content-box h2::after{
   position: absolute;
   content: 'GOAL';
   height: 50px;
   top: 0;
   bottom: 0;
   left: 20%;
   right: 0;
   margin: auto 0rem;
   display: flex;
   align-items: center;
   font-weight: bold;
   font-size: 6rem;
   color: var(--transparant-blue);
   display: none;
}