.navigation{
    /* border: 1px solid red; */
    height: 9vh;
    width: 100%;
    top: 0;
    height: 9vh;
    min-height: var(--nav-height);
    max-height: var(--nav-height);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 10;
    background: white;
    box-shadow: 0px -45px 50px 20px rgba(180, 183, 255, 0.829);
}
.nav-bar{
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: 1fr 2fr .5fr ;
     justify-content: center;
    align-items: center; 
    width: var(--div-width);
    height: 100%;
    margin: var(--div-margin);
}
.nav-bar a{
    padding: .2rem .5rem
}
.logo{
    /* border: 1px solid red; */
     width: 103px;
    height: 43px;
    background: url(../../images/logo.png) no-repeat center center/cover;
    cursor: pointer;
}
.logo strong{
    font-size: 1.8rem;
    
   
}
.nav-links{
    display: none;
    font-weight: 500;
    /* border: 1px solid blue; */
}
  .nav-links li {
      padding: 0rem 0rem;
    margin-right: 1rem;
    cursor: pointer;
    transition: color .3s ease-in-out;
  }
  .nav-links li:nth-last-child(1) {
      margin-right: 0;
  }
  .nav-links li:hover {
      color: var(--main-color);
  }
.menu{
    width: 2rem;
    height: 1.3rem;
    /* border: 1px solid yellow; */
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-right: 3rem;
    justify-self: flex-end;
    cursor: pointer;
}

.line{
    width: 100%;
    border-bottom: 3px solid var(--dark-text-color);
}

.donate-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green-color);
    color: var(--white-text-color);
    padding: .5em 1.5em;
    cursor: pointer;
    border: 1px solid var(--green-color);
    border-radius: 100px;
    transition: all .3s ease-in-out;
    font-weight: bold;
}
.donate-button:hover{
    background-color: white;
    color:  var(--green-color);
}

.active-link{
    /* background: var(--main-color); */
    border-radius: 100px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    animation: on .3s ease-in-out ;
}

@keyframes on{
    0%{opacity: 0;}
    100%{opacity: 1;}
}