.navigation{
    /* border: 1px solid red; */
    height: 9vh;
    width: 100%;
    top: 0;
    height: 9vh;
    min-height: var(--nav-height);
    max-height: var(--nav-height);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 2;
    background: white;
    /* border-bottom: 1px solid silver; */
}
.nav-bar{
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: 1fr 2fr .5fr ;
     justify-content: center;
    align-items: center; 
    width: var(--div-width);
    height: 100%;
    margin: var(--div-margin);
}
.logo strong{
    font-size: 1.8rem;
}
.nav-links{
    display: none;
    font-weight: 500;
    /* border: 1px solid blue; */
}
  .nav-links li {
      padding: .5rem 0rem;
    margin-right: 2rem;
    cursor: pointer;
    transition: color .3s ease-in-out;
  }
  .nav-links li:nth-last-child(1) {
      margin-right: 0;
  }
  .nav-links li:hover {
      color: var(--main-color);
  }
.menu{
    width: 2rem;
    height: 1.3rem;
    /* border: 1px solid yellow; */
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-right: 3rem;
    justify-self: flex-end;
    cursor: pointer;
}

.line{
    width: 100%;
    border-bottom: 3px solid var(--dark-text-color);
}

.donate-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green-color);
    color: var(--white-text-color);
    padding: .5em 1.5em;
    cursor: pointer;
    border: 1px solid var(--green-color);
    border-radius: 100px;
    transition: all .3s ease-in-out;
}
.donate-button:hover{
    background-color: white;
    color:  var(--green-color);
}

.active-link{
    border-bottom: 3px solid var(--main-color);
    
}