.navigation{
    /* border: 1px solid red; */
    top: 0;
    width: 100vw;
    height: 6vh;
    min-height: 60px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 2;
    background: white;
}
.nav-bar{
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: 1fr .3fr .3fr;
    align-items: center;
    width: var(--div-width);
    width: 100%;
    height: 100%;
    margin: var(--div-margin);
}
.logo strong{
    font-size: 1.8rem;
}
.menu{
    width: 2rem;
    height: 1.3rem;
    /* border: 1px solid yellow; */
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-right: 1rem;
}

.line{
    width: 100%;
    border-bottom: 3px solid var(--dark-text-color);
}

.donate-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green-color);
    color: var(--white-text-color);
    padding: 0em 1em;
    height: 100%;
    cursor: pointer;
    border: 1px solid var(--green-color);
    transition: all .3s ease-in-out;
}
.donate-button:hover{
    background-color: white;
    color:  var(--green-color);
}