.showcase {
  height: 70vh;
  min-height: 560px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  margin-top: var(--nav-height);
  background: url(../../images/showcaseimg.jpg) no-repeat center center / cover;
}
.showcase-img {
  position: absolute;  
  top: 0;
  left: 0;
  width: 100% ;
  height: 100%;
  background: url(../../images/showcaseimg.jpg) no-repeat center right / cover;
  display: none;
 
}
.showcase-content-box{
    z-index: 2;
}
.showcase-content {
  /* border: 1px solid red; */
  
  text-align: center;
  height: min-content;
  width: var(--div-width);
  max-width: 710px;
  margin: var(--div-margin);
  background-color: var(--background-blue);
  padding: 3rem;
  z-index: 2 !important;
}

.showcase-content .sub-title {
  color: var(--green-color);
}

.showcase-content h1 {
  margin-bottom: 1rem;
  color: white;
  font-weight: 500;
}
.showcase-content p {
  color: white;
}

.circle-for-showcase{
    bottom: -2rem;
    
}